.profile__button-edit {
    width: 24px;
    height: 24px;
    border: 1px solid #fff;
    box-sizing: border-box;
    grid-column: 2;
    cursor: pointer;
    background-color: transparent;
    background-image: url(../../../images/profile__edit.png);
    background-size: 10px 10px;
    background-repeat: no-repeat;
    background-position: center;
}

.profile__button-edit:hover {
    opacity: .6;
}

@media screen and (max-width: 768px) {
    .profile__button-edit {
        width: 18px;
        height: 18px;
        background-size: 7.5px 7.5px;
    }
}