.profile__button-edit {
    width: 24px;
    height: 24px;
    border: 1px solid #fff;
    box-sizing: border-box;
    grid-column: 2;
    display: grid;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.profile__button-edit:hover {
    opacity: .6;
}

@media screen and (max-width: 768px) {
    .profile__button-edit {
        width: 18px;
        height: 18px;
    }
}