.carts__button-like {
    width: 22px;
    height: 19px;
    display: grid;
    align-items: center;
    justify-items: center;
    grid-row: 2;
    grid-column: 3;
    cursor: pointer;
}

.carts__button-like:hover {
    opacity: .6;
}