.header {
    max-width: 880px;
    min-width: 320px;
    width: 100vw;
    padding-bottom: 40px;
    border-bottom: 1px solid #545454;
    box-sizing: border-box;
    line-height: 0;
}

@media screen and (max-width: 879px) {
    .header {
        padding: 0 0 32px 27px;
    }
}