.popup__form {
    display: grid;
    grid-template-rows: 50px auto 30px auto 48px auto;
}

@media screen and (max-width: 768px) {
    .popup__form {
        grid-template-rows: 75px auto 30px auto 45px auto;
    }
}