.profile__button-edit-icon {
    width: 10px;
    height: 10px;
    fill: #fff;
    grid-area: 1 / -1 / 1 / -1;
}

@media screen and (max-width: 768px) {
    .profile__button-edit-icon {
        width: 7.5px;
        height: 7.5px;
        justify-self: center;
    }
}