.carts__like-switcher {
    width: 1px;
    height: 1px;
    opacity: 0;
    grid-area: 1 / -1 / 1 / -1;
    clip-path: inset(0 0 0 0);
}

.carts__like-switcher:checked ~ .carts__button-like-icon {
    background-image: url(../../../image/carts__like_filled@2x.png);
    background-repeat: no-repeat;
}