.profile__button-add {
    width: 150px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #fff;
    box-sizing: border-box;
    grid-column: 5;
}

.profile__button-add:hover {
    opacity: .6;
}

@media screen and (max-width: 879px) {
    .profile__button-add {
        grid-column: 6;
    }
}

@media screen and (max-width: 768px) {
    .profile__button-add {
        width: 282px;
        grid-column: 2;
        grid-row: 5;
    }
}