.popup__field {
    width: 100%;
    padding-bottom: 7px;
    border: 0;
    border-bottom: 1px solid rgba(0,0,0,.2);
    box-sizing: border-box;
    margin-top: 50px;
}

.popup__field::placeholder {
    margin: 0;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    color: #000;
}

.popup__field:nth-child(2) {
    margin-top: 30px;
}