.popup__field {
    margin: 0;
    font-size: 14px;
    line-height: 17px;
    font-weight: 400;
    color: #000;
    width: 100%;
    padding-bottom: 7px;
    border: 0;
    border-bottom: 1px solid rgba(0,0,0,.2);
    box-sizing: border-box;
    grid-row: 2;
}

.popup__field::placeholder {
    font-size: 14px;
    line-height: 17px;
    font-weight: 400;
    color: #C4C4C4;
}

.popup__field:nth-child(3) {
    grid-row: 5;
}